# Domain entities
pydantic==2.5.3

# Database 
sqlalchemy[asyncio]==2.0.25
asyncpg==0.29.0
alembic==1.13.1

# Environment
python-dotenv==1.0.0

# DI
dependency-injector==4.45.0

# API
fastapi==0.108.0
sqladmin==0.16.0
uvicorn==0.25.0

# Events (rabbitmq)
aio-pika==9.3.1